/*CSS Datei zum Stylen der Veranstaltungsseite*/

* {box-sizing: border-box}

.container-80 {
    border-radius: 5px;
    background-color: #f2f2f285;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    min-width: 1200px;
}

.col-info {
    float: left;
    width: 25%;
}

.info {   
    padding: 6px;
    display: inline-block;
}
  
.col-desc {
    float: left;
    width: 75%;
}

.desc {
    width: 100%;
    padding: 6px;
    resize: vertical;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-info, .col-desc {
      width: 100%;
      margin-top: 0;
    }
}

.btn {
    background-color: #ccc;
    color: black;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.center {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 20px 0px 20px 0px;
}

.col-50 {
    float: left;
    width: 50%;
}