/*CSS Datei zum Stylen der Veranstaltungsseite*/

* {box-sizing: border-box}

.container-80 {
    border-radius: 5px;
    background-color: #f8f4e5;
    border-top: 10px solid #f45702;
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    min-width: 900px;
}

.container-80-noborder {
    background-color: #f8f4e5;
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.col-info {
    float: left;
    width: 25%;
}

.info {   
    padding: 6px;
    display: inline-block;
}
  
.col-desc {
    float: left;
    width: 75%;
}

.desc {
    width: 100%;
    padding: 6px;
    resize: vertical;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-info, .col-desc {
      width: 100%;
      margin-top: 0;
    }
}

.btn {
    background-color: #f45702;
    color: black;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.center {
    text-align: center;
}

textarea, input[type=file] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 20px 0px 20px 0px;
}

input[type=text] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: auto;
}

.col-50 {
    float: left;
    width: 50%;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}