
/*Css Überschrift der Tabelle*/
h1 {
    font-size: 3em;
    padding-top: 50px;
}

/*tabellengerüst*/
.container {
    /*muss so sein sonst rutscht tabelle in Raumändern nach oben*/
    margin: auto;
    margin-top: 2em;

}


/*@media (max-width: 800px) {*/
/*    .container td:nth-child(5),*/
/*    .container th:nth-child(5) { display: none; }*/
/*}*/
/*css für buttons*/




/*    Anpassung bei größeren Ausgabegeräten*/
@media all and (min-width:120em) {
    #Hinzufügen, #Ändern, #Löschen {
        display: inline-block;
        margin-left: 16em ;
    }
}
