@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

/*Styling formular*/
/*Styling von Pflichtsternchen*/
* {
    margin: 0;
    padding: 0;

}
 /*Styling des Hintergrundes */
 body {
    background: url("Bild/HintergrundRaum.png")  fixed ;
    /*https://pixabay.com/de/photos/tabellen-st%C3%BChle-m%C3%B6bel-drinnen-2181979/*/
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 12pt;
    font-family: "Spartan", sans-serif;
    color: #2A293E;
}
.mantel {
    margin-top: 8em;
    margin-bottom: 5em;

}
/*styling des Formularkörpers*/
.contact-us {
    background: #f8f4e5;
    padding: 50px 100px;
    border-top: 10px solid #f45702;
    margin-bottom:5em;

}
/*Styling der input felder */
label, input, textarea {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
    font-family: "Spartan", sans-serif;
}

input {
    margin-bottom: 24pt;
}
h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Spartan", sans-serif;
}

h3 {
    font-weight: normal;
    font-size: 10pt;
    line-height: 24pt;
    font-style: italic;
    margin: 0 0 0.5em 0;
    font-family: "Spartan", sans-serif;
}
span {
    font-size: 8pt;
}

em {
    color: #f45702;
    font-weight: bold;
}

input, textarea,fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #f8f4e5;
    padding-left: 5px;
    outline: none;
}

input:focus, textarea:focus {
    border: 1px solid #6bd4b1;
}

textarea {
    resize: none;
}
input[type='radio']:checked,
input[type='radio']:not(:checked) {
    background: transparent;
    position: relative;
    visibility: hidden;
    margin:0;
    padding:0;
}
input[type='checkbox'] + label,
input[type='radio'] + label {
    cursor: pointer;
}
input[type='radio']:checked + label::before,
input[type='radio']:not(:checked) + label::before {
    content:' ';
    display:inline-block;
    width: 17px;
    height:17px;
    position: relative;
    top:4px;
    border: 1px solid #bbb;
    background: white;
    margin-right: 1em;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);

}
input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before {
    border-radius: 30px;
}


input[type='radio']:hover  + label::before {
    background:#ddd;
    box-shadow: inset 0 0 0 2px white;
}


input[type='radio']:checked  + label::before {
    background:#F45702;
    box-shadow: inset 0 0 0 2px white;
}
/*styling der Buttons*/
/*#Hinzufügen, .Löschen, .submit{*/
/*    background: #f45702;*/
/*    float:right;*/

/*}*/
/*#Hinzufügen:hover {*/
/*    background: inherit;*/
/*    color: #f45702;*/
/*    border-bottom: 2px solid #f45702;*/
/*}*/

/*!*::selection {*!*/
/*!*    background: #ffc7b8;*!*/
/*!*}*!*/
/*.Abbrechen, .Löschen, #Hinzufügen {*/
/*    display: block;*/
/*    line-height: 24pt;*/
/*    padding: 0 40px;*/
/*    border: none;*/
/*    color: white;*/
/*    letter-spacing: 2px;*/
/*    transition: 0.2s all ease-in-out;*/
/*    border-bottom: 2px solid transparent;*/
/*    outline: none;*/
/*    margin-top: 30px;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/


/*}*/
/*!*.Löschen {*!*/
/*!*    font-size: 36px;*!*/
/*!*    float:right;*!*/
/*!*    background: #f45702;*!*/

/*!*}*!*/
/*!*    .Löschen:hover{*!*/
/*!*    background:white;*!*/
/*!*    color: #f45702;*!*/
/*!*    border-bottom: 2px solid #f45702;*!*/
/*!*}*!*/
/*.Abbrechen {*/
/*    background: gray;*/
/*    float: left;*/
/*    font-size: 1em;*/
/*}*/
/*.Abbrechen:hover {*/
/*    background: inherit;*/
/*    color: #605c5a;*/
/*    border-bottom: 2px solid #302c2a;*/
/*}*/
/*Styling des aktuell ausgewählten Feldes */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    border: 1px solid #6bd4b1;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}
/*!*    Anpassung bei größeren Ausgabegeräten*!*/

@media all and (max-width: 100em ) {
    .contact-us { margin-top: 6em;
    }

}
/*@media all and (min-width:100em) {*/
/*    #Hinzufügen, #Ändern, #Löschen {*/
/*        display: inline-block;*/
/*        margin-left: 16em ;*/
/*    }*/
/*}*/
