
/*Stylimg header*/


.header{
    list-style-type: none;
    overflow: hidden;
    background-color: #333 ;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    right:0;
    width: 100%;
    margin-top: 0;
    font-family:Helvetica, sans-serif ;
    display: block !important  ;
    margin-bottom: 2em !important;

}
/*styling der Elemente*/
.headerel {
    float:left;

}

.headerel a {
    display: grid ;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


    /*    background-color: #333;*/
}

/* Änderung der Farbe des akteuellen Elements bei Hoovering/*/
.headerel a:hover {
    background-color: #111;
}
/*Aktuelle Position */
.active {
    background-color: #f45702 ;
}
