
/*styling von hintergrund und schrift der Tabelle*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:black;
    background: url("HintergrundRaumseite.jpg") fixed ;
    background-size: 100% auto;
}
/*Css Überschrift der Tabelle*/
h1 {
    font-size: 3em;
    font-weight: 400;
    line-height:1em;
    text-align: center;
    color: black;
    padding-top: 50px;
    text-underline-mode: 10px;
    text-underline: black ;
}

/*Css des Tabellenkopfs*/

.container th h2 {
    font-size:1em;
    line-height:0;
    text-align: left;
    font-weight: bold;
    color: black;

}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}
/*tabellengerüst*/
.container {
    text-align: left;
    overflow: hidden;
    width: 50%;
    display: table;
    padding: 0 0 5em 0;
    /*muss so sein sonst rutscht tabelle in Raumändern nach oben*/
    margin: auto;
    margin-top: 2em;

}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
}

/*farbe für ungerade reihen*/
.container tr:nth-child(odd) {
    background-color:rgba(255, 255, 255, 0.90);

}

/*farbe für gerade reihen*/
.container tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.80);
}
/*Farbe für Tabellenkopf*/
.container th {
    background-color: #f8f4e5;
}


.container td:first-child:hover { color: white; }
/*styling bei hover*/
.container tr:hover {
    background-color:  #f45702;
    color: black;
    font-weight: bold;

    box-shadow: whitesmoke -1px 1px, whitesmoke 2px 2px, whitesmoke -3px 3px, whitesmoke -4px 4px, whitesmoke -5px 5px, whitesmoke -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: linear;
}

/*@media (max-width: 800px) {*/
/*    .container td:nth-child(5),*/
/*    .container th:nth-child(5) { display: none; }*/
/*}*/
/*css für buttons*/



    #Hinzufügen, #Ändern, #Löschen {
            display:inline-block;
        margin-left: 7em ;
            line-height: 2em;
            padding: 0 3em;
            border: 1em;
            background: #f45702;
            color: white;
            letter-spacing: 2px;
            transition: 0.2s all ease-in,out;
            border-bottom: 2px solid transparent;
            outline: none;
            font-size: 1em;
            margin-bottom: 3em;
            text-decoration: none;}

    #Ändern:hover, #Löschen:hover, #Hinzufügen:hover {
        background: white;
        color: #f45702;
        border-bottom: 2px solid #f45702;
    }
/*    Anpassung bei größeren Ausgabegeräten*/
@media all and (min-width:120em) {
    #Hinzufügen, #Ändern, #Löschen {
        display: inline-block;
        margin-left: 16em ;
    }
}
