.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 10%;
    /*align-items: center;*/
    grid-column-gap: 100px;
}
.Auslösen {
    margin-right: 4em;
    margin-left: 4em;
    position: center;
}
.select-wrapper {
    width: auto;
    margin-bottom: 3em;
}
 h1 {
     margin-top: -2em;
 }
 .contact-us {
     margin-top: 0;
 }
 .container {
     width:70%;
     position: center;
     margin-top: 0;
 }
.container tr:hover {
    transform: none;
    box-shadow: none;

}